* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    font: 16px/28px arial, sans-serif;
    background-image: url(tampilan3.png);
    color: black;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.container2 {
    width: 800px;
    margin: auto;
    background-color: salmon;
}

.judul {
    font-family: courier;
}

.menu {
    float: left;
    padding-top: 10px;
    padding-left: 15px;
}

.menu ul li {
    float: left;
    display: inline-flex;
}

.menu ul li a {
    float: right;
    color: black;
    font-weight: bold;
    font-family: courier;
    font-size: 20px;
    text-align: center;
    padding: 0px 16px 0px 16px;
}

.menu ul li a:hover {
    background-color: cadetblue;
    color: bisque;
}

.home {
    background: palevioletred;
    border-radius: 5px;
}

.header2 ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px ;
}

.foto {
    height: 300px;
    background-image: url(tampilan3_1.jpg);
    background-size: cover;
    background-position: 0 -60px;
    border-bottom: 5px solid turquoise;
    border-top: 5px solid lightskyblue;
    border-left: 5px solid salmon;
    border-right: 5px solid crimson;
}

#nav {
    line-height:30px;
    text-align: justify;
    background-color: skyblue;
    height:500px;
    width:250px;
    float:left;
    padding:10px;
}

#nav h2 {
    text-align: center;
}

#nav p {
    padding-top: 20px;
}

.tbl-pink {
    background: palevioletred;
    border-radius: 20px;
    margin-top: 50px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    left: 55px;
}

#section {
    width:350px;
    float:left;
    padding:10px;
}

.container3 {
    margin : auto;
    width : auto;
}

.galeri {
    width : 80px;
    height: 80px;
    margin : 10px;
    background-color : goldenrod;
    color: white;
    border: 3px solid black;
    float : left;
    text-align : center;
    line-height : 80px;
    position: relative;
    left: 50px;
    text-decoration: none;

}

.clear {
    width: auto;
    float: left;
    position: relative;
    left: 60px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}